<nav class="navbar navbar-expand-md navbar-dark bg-likvido">
    <div class="navbar-left">
        <div class="logo-container">
            <a href="/" class="navbar-brand">
                <span class="menu-icon icon-likvido-logo"></span>
            </a>
        </div>
    </div>
    <div class="navbar-collapse">
        <div class="menu-bg-overlay"></div>
        <ul class="navbar-nav mr-auto">

        </ul>
    </div>
    <div class="navbar-right">
        <div id="creditor-top-layout">
        </div>
        <div id="logoutForm">
            <a href="#" data-toggle="dropdown" id="dropdownUserProfile" aria-haspopup="true" aria-expanded="false">
                <span class="menu-icon mobile-icon icon-settings"></span>
            </a>
            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <div class="profile-info">
                        <span class="name">
                            aleksandar.k03@gmail.com
                        </span>
                        <span class="role">
                            Administrator
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="page-header page-breadcrumbs">
    <ol class="breadcrumbs mr-3">
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <span>
                Invoices
            </span>
        </li>
    </ol>
</div>